button {
    width: 20%;
    height: 30px;
}

section {
    background: #eee;
    padding: 20px 5%;
    box-shadow: 0 0 9px 7px #333;
    border-radius: 10px;
}

body {
    font-family: Yu Gothic Medium, YuGothic, Hiragino Kaku Gothic ProN, Meiryo, MS PGothic, sans-serif;
    padding: 20px 10%;
    ;
}

hr {
    background-color: #999;
    border: none;
    height: 1px;
}

button {
    background-color: #113;
    color: white;
    border: none;
    border-radius: 5px;
}

input,
select{
    width: 80%;
    height: 25px;
    margin: 5px 0;
    border: solid 1px #aaa;
    border-radius: 5px;
}

label {
    font-size: 1.5em;
}